:root {
  font-size: 15px;
}

body {
  font: 400 1rem Lato, sans-serif;
  line-height: 1.8;
  min-width: 340px;
  max-width: 3840px;
  position: relative;
}

.container-fluid {
  padding: 4rem 3.5rem;
}

.btn-custom {
  border: 1px solid #ccc;
  background-color: #fff;
  color: #333;
}

.btn-custom:hover {
  background-color: #e6e6e6;
  border-color: #adadad;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: .667em;
  margin-bottom: .667em;
}

h2 {
  font-size: 1.7rem;
  font-weight: 600;
  margin-bottom: 1.5em;
  color: #303030;
}

h3 {
  font-size: 1.3rem;
  line-height: 1.2em;
  font-weight: 400;
  margin-bottom: .667em;
  margin-top: .667em;
}

h4 {
  font-size: 1.27rem;
  line-height: 1.1em;
  font-weight: 400;
  margin-bottom: 1.3em;
}

p {
  margin: 0 0 .8em;
  color: #818181;
}

.icon {
  font-size: 13.3rem;
  color: #f4511e;
}

.icon-small {
  font-size: 3.5rem !important;
  color: #f4511e;
}

.highlight {
  font-size: 1.27rem;
  line-height: 1.1em;
  font-weight: 400;
  margin-bottom: 1.3em;
}

.highlight-big {
  font-size: 1.3rem;
  line-height: 1em;
  font-weight: 400;
  margin-bottom: 1.5em;
  margin-top: .667em;
}

@-webkit-keyframes appear {
  from {
    opacity: 0;
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes appear {
  from {
    opacity: 0;
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.appear-in {
  opacity: 0;
}

.appear {
  -webkit-animation-name: appear;
          animation-name: appear;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  opacity: 1;
}

.navbar-custom {
  font-family: Montserrat, sans-serif;
  background-color: #f4511e;
  color: white;
  font-size: .8rem;
  letter-spacing: .267rem;
  padding: 0;
}

.navbar-custom .navbar-brand {
  padding-top: 0;
  padding-bottom: 0;
}

.navbar-custom a {
  color: white;
}

.navbar-custom li a {
  padding: 1rem;
}

.navbar-custom li:hover {
  background-color: white;
}

.navbar-custom li:hover a {
  color: #f4511e;
  text-decoration: none;
}

.navbar-custom li .active {
  background-color: white;
  color: #f4511e;
}

.navbar-custom .navbar-toggler {
  margin-top: .3rem;
  margin-bottom: .3rem;
  padding: .15rem .4rem;
}

.navbar-custom .navbar-toggler:hover {
  background-color: #ddd;
}

.navbar-custom .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,<svg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'><path stroke='rgba(0, 0, 0, 0.4)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/></svg>");
}

.jumbotron {
  color: white;
  font-family: Montserrat, sans-serif;
  background-color: #f4511e;
  border-radius: 0;
  padding: 6.5rem 1.7rem;
}

.jumbotron h1 {
  font-size: 4.2rem;
  font-weight: 500;
}

.jumbotron p {
  color: white;
  font-size: 1.3rem;
  font-weight: 200;
}

.jumbotron .input-group {
  margin: auto 5%;
  width: 90%;
  padding-bottom: 2rem;
}

.jumbotron .input-group .input-group-addon {
  border: 0;
  margin-left: -1px;
  background-color: #d9534f;
  color: white;
  border: 1px solid #d43f3a;
}

.jumbotron .input-group .input-group-addon:hover {
  background-color: #c9302c;
  border-color: #ac2925;
}

.about-company p {
  color: #818181;
}

.about-company button {
  border: 1px solid #ccc;
  background-color: #fff;
  color: #333;
  margin-bottom: 2.3em;
  width: 100%;
}

.about-company button:hover {
  background-color: #e6e6e6;
  border-color: #adadad;
}

.our-values {
  background-color: #f6f6f6;
}

.our-values h2 {
  margin-top: 1em;
  font-weight: 700;
}

.our-values h3 {
  font-weight: 400;
}

.our-values p {
  color: #818181;
}

.services .highlight {
  color: black;
  margin-top: .667em;
}

.services ul {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0;
  width: 100%;
}

.services ul li {
  list-style-type: none;
  padding: 0 1em;
}

.portfolio {
  background-color: #f6f6f6;
}

.portfolio .portfolio-image {
  color: #818181;
  background-color: white;
  padding-bottom: 1rem;
  margin-bottom: 1.2rem;
}

.portfolio img {
  margin-bottom: .667rem;
  width: 100%;
  height: auto;
}

.portfolio .carousel .carousel-indicators {
  bottom: -2rem;
}

.portfolio .carousel .carousel-inner span {
  font-style: italic;
}

.portfolio .carousel .carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,<svg xmlns='http://www.w3.org/2000/svg' fill='%23f4511e' viewBox='0 0 8 8'><path d='M4 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/></svg>");
}

.portfolio .carousel .carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,<svg xmlns='http://www.w3.org/2000/svg' fill='%23f4511e' viewBox='0 0 8 8'><path d='M1.5 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/></svg>");
}

.portfolio .carousel .carousel-caption {
  color: #292b2c;
}

.portfolio .carousel .carousel-indicators li {
  background-color: #f4511e;
  opacity: .6;
}

.portfolio .carousel .carousel-indicators .active {
  background-color: #f4511e;
  opacity: 1;
}

.pricing div {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  max-width: none;
}

.pricing .pricing-box {
  border: 1px solid #f4511e;
  color: #818181 !important;
  padding-bottom: 1.5rem;
}

.pricing .pricing-box .header {
  background-color: #f4511e;
  width: 100%;
  font-size: 2rem;
  padding: .5em 0;
  color: #fff;
}

.pricing .pricing-box .header h3 {
  font-size: 2rem;
}

.pricing .pricing-box .offer {
  border-bottom: 1px solid #ddd;
  padding: 1rem 0;
  margin-bottom: 1.3rem;
}

.pricing .pricing-box .price p {
  color: #aaa;
  margin-bottom: 0;
}

.pricing .pricing-box .price :first-child {
  font-size: 2rem;
  color: #818181;
}

.pricing .pricing-box .price button {
  background-color: #f4511e;
  color: #fff;
  padding: .6rem 1rem;
  margin-top: 2.5em;
}

.pricing .pricing-box .price button:hover {
  background-color: white;
  color: #f4511e;
  border-color: #f4511e;
}

.pricing .pricing-box:hover {
  -webkit-box-shadow: 0.3rem 0rem 3rem rgba(0, 0, 0, 0.2);
          box-shadow: 0.3rem 0rem 3rem rgba(0, 0, 0, 0.2);
}

.contact {
  background-color: #f6f6f6;
}

.contact h2 {
  text-align: center;
}

.contact p {
  color: #818181;
}

.contact button {
  float: right;
  padding: .4rem .8rem;
  margin-bottom: 0;
  margin-top: 1rem;
}

.contact form .row div {
  margin-bottom: 1em;
}

.map {
  height: 30rem;
  width: 100%;
}

.footer .to-top {
  height: 2rem;
  width: 2rem;
  background-image: url("../images/up.svg");
  margin: auto;
  border: 0;
  background-color: transparent;
  display: block;
}

.footer p {
  padding-top: .667rem;
}

@media (min-width: 768px) {
  .jumbotron .input-group {
    margin: auto 15%;
    width: 70%;
  }
  .about-company button {
    margin-bottom: 0;
    width: auto;
  }
  .services li {
    width: 30%;
  }
}

@media (max-width: 768px) {
  .col-sm-4 {
    text-align: center;
    margin: 1.5rem 0;
  }
  .navbar-custom .container {
    max-width: 100%;
    margin: 0 1rem;
  }
  .navbar-custom .navbar-collapse {
    margin: 0 -15px !important;
  }
  .navbar-custom .navbar-collapse ul {
    margin: .15rem 0;
  }
  .navbar-custom .navbar-collapse li {
    padding: 0;
  }
  .navbar-custom .navbar-collapse li a {
    padding: .66 1rem;
    font-size: .8rem;
  }
  .navbar-custom .navbar-collapse {
    border-top: 1px solid #e7e7e7;
  }
  .jumbotron h1 {
    font-size: 2rem;
  }
  .pricing-box {
    margin: 1em;
  }
  .services li {
    width: 100%;
  }
}

@media screen and (min-width: 1920px) {
  :root {
    zoom: 1.5;
    -moz-transform: scale(1.5);
    -moz-transform-origin: 0 0;
  }
}

@media screen and (min-width: 2500px) {
  :root {
    zoom: 2;
    -moz-transform: scale(2);
    -moz-transform-origin: 0 0;
  }
}

@media screen and (min-width: 3100px) {
  :root {
    zoom: 2.5;
    -moz-transform: scale(2.5);
    -moz-transform-origin: 0 0;
  }
}
/*# sourceMappingURL=style.css.map */