/* line 7, /home/jakub/projects/frontend/sited-template/node_modules/bootstrap/scss/_forms.scss */
.form-control {
  display: block;
  width: 100%;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  line-height: 1.25;
  color: #464a4c;
  background-color: #fff;
  background-image: none;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s; }
  /* line 35, /home/jakub/projects/frontend/sited-template/node_modules/bootstrap/scss/_forms.scss */
  .form-control::-ms-expand {
    background-color: transparent;
    border: 0; }
  /* line 46, /home/jakub/projects/frontend/sited-template/node_modules/bootstrap/scss/mixins/_forms.scss */
  .form-control:focus {
    color: #464a4c;
    background-color: #fff;
    border-color: #5cb3fd;
    outline: none; }
  /* line 44, /home/jakub/projects/frontend/sited-template/node_modules/bootstrap/scss/_forms.scss */
  .form-control::placeholder {
    color: #636c72;
    opacity: 1; }
  /* line 55, /home/jakub/projects/frontend/sited-template/node_modules/bootstrap/scss/_forms.scss */
  .form-control:disabled, .form-control[readonly] {
    background-color: #eceeef;
    opacity: 1; }
  /* line 62, /home/jakub/projects/frontend/sited-template/node_modules/bootstrap/scss/_forms.scss */
  .form-control:disabled {
    cursor: not-allowed; }

/* line 68, /home/jakub/projects/frontend/sited-template/node_modules/bootstrap/scss/_forms.scss */
select.form-control:not([size]):not([multiple]) {
  height: calc(2.25rem + 2px); }

/* line 73, /home/jakub/projects/frontend/sited-template/node_modules/bootstrap/scss/_forms.scss */
select.form-control:focus::-ms-value {
  color: #464a4c;
  background-color: #fff; }

/* line 85, /home/jakub/projects/frontend/sited-template/node_modules/bootstrap/scss/_forms.scss */
.form-control-file,
.form-control-range {
  display: block; }

/* line 97, /home/jakub/projects/frontend/sited-template/node_modules/bootstrap/scss/_forms.scss */
.col-form-label {
  padding-top: calc(0.5rem - 1px * 2);
  padding-bottom: calc(0.5rem - 1px * 2);
  margin-bottom: 0; }

/* line 103, /home/jakub/projects/frontend/sited-template/node_modules/bootstrap/scss/_forms.scss */
.col-form-label-lg {
  padding-top: calc(0.75rem - 1px * 2);
  padding-bottom: calc(0.75rem - 1px * 2);
  font-size: 1.25rem; }

/* line 109, /home/jakub/projects/frontend/sited-template/node_modules/bootstrap/scss/_forms.scss */
.col-form-label-sm {
  padding-top: calc(0.25rem - 1px * 2);
  padding-bottom: calc(0.25rem - 1px * 2);
  font-size: 0.875rem; }

/* line 122, /home/jakub/projects/frontend/sited-template/node_modules/bootstrap/scss/_forms.scss */
.col-form-legend {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-bottom: 0;
  font-size: 1rem; }

/* line 135, /home/jakub/projects/frontend/sited-template/node_modules/bootstrap/scss/_forms.scss */
.form-control-static {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-bottom: 0;
  line-height: 1.25;
  border: solid transparent;
  border-width: 1px 0; }
  /* line 143, /home/jakub/projects/frontend/sited-template/node_modules/bootstrap/scss/_forms.scss */
  .form-control-static.form-control-sm, .form-control-static.form-control-lg {
    padding-right: 0;
    padding-left: 0; }

/* line 159, /home/jakub/projects/frontend/sited-template/node_modules/bootstrap/scss/_forms.scss */
.form-control-sm {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  border-radius: 0.2rem; }

/* line 166, /home/jakub/projects/frontend/sited-template/node_modules/bootstrap/scss/_forms.scss */
select.form-control-sm:not([size]):not([multiple]) {
  height: 1.8125rem; }

/* line 171, /home/jakub/projects/frontend/sited-template/node_modules/bootstrap/scss/_forms.scss */
.form-control-lg {
  padding: 0.75rem 1.5rem;
  font-size: 1.25rem;
  border-radius: 0.3rem; }

/* line 178, /home/jakub/projects/frontend/sited-template/node_modules/bootstrap/scss/_forms.scss */
select.form-control-lg:not([size]):not([multiple]) {
  height: 3.16667rem; }

/* line 189, /home/jakub/projects/frontend/sited-template/node_modules/bootstrap/scss/_forms.scss */
.form-group {
  margin-bottom: 1rem; }

/* line 193, /home/jakub/projects/frontend/sited-template/node_modules/bootstrap/scss/_forms.scss */
.form-text {
  display: block;
  margin-top: 0.25rem; }

/* line 203, /home/jakub/projects/frontend/sited-template/node_modules/bootstrap/scss/_forms.scss */
.form-check {
  position: relative;
  display: block;
  margin-bottom: 0.5rem; }
  /* line 209, /home/jakub/projects/frontend/sited-template/node_modules/bootstrap/scss/_forms.scss */
  .form-check.disabled .form-check-label {
    color: #636c72;
    cursor: not-allowed; }

/* line 216, /home/jakub/projects/frontend/sited-template/node_modules/bootstrap/scss/_forms.scss */
.form-check-label {
  padding-left: 1.25rem;
  margin-bottom: 0;
  cursor: pointer; }

/* line 222, /home/jakub/projects/frontend/sited-template/node_modules/bootstrap/scss/_forms.scss */
.form-check-input {
  position: absolute;
  margin-top: 0.25rem;
  margin-left: -1.25rem; }
  /* line 227, /home/jakub/projects/frontend/sited-template/node_modules/bootstrap/scss/_forms.scss */
  .form-check-input:only-child {
    position: static; }

/* line 233, /home/jakub/projects/frontend/sited-template/node_modules/bootstrap/scss/_forms.scss */
.form-check-inline {
  display: inline-block; }
  /* line 236, /home/jakub/projects/frontend/sited-template/node_modules/bootstrap/scss/_forms.scss */
  .form-check-inline .form-check-label {
    vertical-align: middle; }
  /* line 240, /home/jakub/projects/frontend/sited-template/node_modules/bootstrap/scss/_forms.scss */
  .form-check-inline + .form-check-inline {
    margin-left: 0.75rem; }

/* line 250, /home/jakub/projects/frontend/sited-template/node_modules/bootstrap/scss/_forms.scss */
.form-control-feedback {
  margin-top: 0.25rem; }

/* line 254, /home/jakub/projects/frontend/sited-template/node_modules/bootstrap/scss/_forms.scss */
.form-control-success,
.form-control-warning,
.form-control-danger {
  padding-right: 2.25rem;
  background-repeat: no-repeat;
  background-position: center right 0.5625rem;
  background-size: 1.125rem 1.125rem; }

/* line 8, /home/jakub/projects/frontend/sited-template/node_modules/bootstrap/scss/mixins/_forms.scss */
.has-success .form-control-feedback,
.has-success .form-control-label,
.has-success .col-form-label,
.has-success .form-check-label,
.has-success .custom-control {
  color: #5cb85c; }

/* line 17, /home/jakub/projects/frontend/sited-template/node_modules/bootstrap/scss/mixins/_forms.scss */
.has-success .form-control {
  border-color: #5cb85c; }

/* line 26, /home/jakub/projects/frontend/sited-template/node_modules/bootstrap/scss/mixins/_forms.scss */
.has-success .input-group-addon {
  color: #5cb85c;
  border-color: #5cb85c;
  background-color: #eaf6ea; }

/* line 267, /home/jakub/projects/frontend/sited-template/node_modules/bootstrap/scss/_forms.scss */
.has-success .form-control-success {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%235cb85c' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3E%3C/svg%3E"); }

/* line 8, /home/jakub/projects/frontend/sited-template/node_modules/bootstrap/scss/mixins/_forms.scss */
.has-warning .form-control-feedback,
.has-warning .form-control-label,
.has-warning .col-form-label,
.has-warning .form-check-label,
.has-warning .custom-control {
  color: #f0ad4e; }

/* line 17, /home/jakub/projects/frontend/sited-template/node_modules/bootstrap/scss/mixins/_forms.scss */
.has-warning .form-control {
  border-color: #f0ad4e; }

/* line 26, /home/jakub/projects/frontend/sited-template/node_modules/bootstrap/scss/mixins/_forms.scss */
.has-warning .input-group-addon {
  color: #f0ad4e;
  border-color: #f0ad4e;
  background-color: white; }

/* line 275, /home/jakub/projects/frontend/sited-template/node_modules/bootstrap/scss/_forms.scss */
.has-warning .form-control-warning {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23f0ad4e' d='M4.4 5.324h-.8v-2.46h.8zm0 1.42h-.8V5.89h.8zM3.76.63L.04 7.075c-.115.2.016.425.26.426h7.397c.242 0 .372-.226.258-.426C6.726 4.924 5.47 2.79 4.253.63c-.113-.174-.39-.174-.494 0z'/%3E%3C/svg%3E"); }

/* line 8, /home/jakub/projects/frontend/sited-template/node_modules/bootstrap/scss/mixins/_forms.scss */
.has-danger .form-control-feedback,
.has-danger .form-control-label,
.has-danger .col-form-label,
.has-danger .form-check-label,
.has-danger .custom-control {
  color: #d9534f; }

/* line 17, /home/jakub/projects/frontend/sited-template/node_modules/bootstrap/scss/mixins/_forms.scss */
.has-danger .form-control {
  border-color: #d9534f; }

/* line 26, /home/jakub/projects/frontend/sited-template/node_modules/bootstrap/scss/mixins/_forms.scss */
.has-danger .input-group-addon {
  color: #d9534f;
  border-color: #d9534f;
  background-color: #fdf7f7; }

/* line 283, /home/jakub/projects/frontend/sited-template/node_modules/bootstrap/scss/_forms.scss */
.has-danger .form-control-danger {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23d9534f' viewBox='-2 -2 7 7'%3E%3Cpath stroke='%23d9534f' d='M0 0l3 3m0-3L0 3'/%3E%3Ccircle r='.5'/%3E%3Ccircle cx='3' r='.5'/%3E%3Ccircle cy='3' r='.5'/%3E%3Ccircle cx='3' cy='3' r='.5'/%3E%3C/svg%3E"); }

/* line 298, /home/jakub/projects/frontend/sited-template/node_modules/bootstrap/scss/_forms.scss */
.form-inline {
  display: flex;
  flex-flow: row wrap;
  align-items: center; }
  /* line 306, /home/jakub/projects/frontend/sited-template/node_modules/bootstrap/scss/_forms.scss */
  .form-inline .form-check {
    width: 100%; }
  @media (min-width: 576px) {
    /* line 312, /home/jakub/projects/frontend/sited-template/node_modules/bootstrap/scss/_forms.scss */
    .form-inline label {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 0; }
    /* line 320, /home/jakub/projects/frontend/sited-template/node_modules/bootstrap/scss/_forms.scss */
    .form-inline .form-group {
      display: flex;
      flex: 0 0 auto;
      flex-flow: row wrap;
      align-items: center;
      margin-bottom: 0; }
    /* line 329, /home/jakub/projects/frontend/sited-template/node_modules/bootstrap/scss/_forms.scss */
    .form-inline .form-control {
      display: inline-block;
      width: auto;
      vertical-align: middle; }
    /* line 336, /home/jakub/projects/frontend/sited-template/node_modules/bootstrap/scss/_forms.scss */
    .form-inline .form-control-static {
      display: inline-block; }
    /* line 340, /home/jakub/projects/frontend/sited-template/node_modules/bootstrap/scss/_forms.scss */
    .form-inline .input-group {
      width: auto; }
    /* line 344, /home/jakub/projects/frontend/sited-template/node_modules/bootstrap/scss/_forms.scss */
    .form-inline .form-control-label {
      margin-bottom: 0;
      vertical-align: middle; }
    /* line 351, /home/jakub/projects/frontend/sited-template/node_modules/bootstrap/scss/_forms.scss */
    .form-inline .form-check {
      display: flex;
      align-items: center;
      justify-content: center;
      width: auto;
      margin-top: 0;
      margin-bottom: 0; }
    /* line 359, /home/jakub/projects/frontend/sited-template/node_modules/bootstrap/scss/_forms.scss */
    .form-inline .form-check-label {
      padding-left: 0; }
    /* line 362, /home/jakub/projects/frontend/sited-template/node_modules/bootstrap/scss/_forms.scss */
    .form-inline .form-check-input {
      position: relative;
      margin-top: 0;
      margin-right: 0.25rem;
      margin-left: 0; }
    /* line 370, /home/jakub/projects/frontend/sited-template/node_modules/bootstrap/scss/_forms.scss */
    .form-inline .custom-control {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-left: 0; }
    /* line 376, /home/jakub/projects/frontend/sited-template/node_modules/bootstrap/scss/_forms.scss */
    .form-inline .custom-control-indicator {
      position: static;
      display: inline-block;
      margin-right: 0.25rem;
      vertical-align: text-bottom; }
    /* line 384, /home/jakub/projects/frontend/sited-template/node_modules/bootstrap/scss/_forms.scss */
    .form-inline .has-feedback .form-control-feedback {
      top: 0; } }

/* line 4, /home/jakub/projects/frontend/sited-template/sass/_navbar.scss */
.container-fluid {
  margin: 0;
  padding: 0; }

/* line 9, /home/jakub/projects/frontend/sited-template/sass/_navbar.scss */
.navbar {
  background-color: #f4511e; }

/* line 1, /home/jakub/projects/frontend/sited-template/sass/_body.scss */
.container-fluid {
  padding: 60px 50px; }

/* line 6, /home/jakub/projects/frontend/sited-template/sass/_body.scss */
bold {
  font-weight: 700; }

/* line 10, /home/jakub/projects/frontend/sited-template/sass/_body.scss */
.jumbotron {
  color: white;
  background-color: #f4511e;
  border-radius: 0px; }
  /* line 14, /home/jakub/projects/frontend/sited-template/sass/_body.scss */
  .jumbotron .input-group {
    margin: auto 5%;
    width: 90%; }
    /* line 19, /home/jakub/projects/frontend/sited-template/sass/_body.scss */
    .jumbotron .input-group .input-group-addon {
      border: 0px;
      margin-left: -1px;
      background-color: #d9534f;
      color: white;
      border: 1px solid #d43f3a; }
      /* line 25, /home/jakub/projects/frontend/sited-template/sass/_body.scss */
      .jumbotron .input-group .input-group-addon:hover {
        background-color: #c9302c;
        border-color: #ac2925; }

/* line 33, /home/jakub/projects/frontend/sited-template/sass/_body.scss */
.about-company p {
  color: #818181; }

/* line 36, /home/jakub/projects/frontend/sited-template/sass/_body.scss */
.about-company button {
  border: 1px solid #ccc;
  background-color: #fff;
  color: #333;
  margin-bottom: 35px;
  width: 100%; }
  /* line 42, /home/jakub/projects/frontend/sited-template/sass/_body.scss */
  .about-company button:hover {
    background-color: #e6e6e6;
    border-color: #adadad; }

/* line 47, /home/jakub/projects/frontend/sited-template/sass/_body.scss */
.about-company :last-child {
  text-align: center; }

/* line 53, /home/jakub/projects/frontend/sited-template/sass/_body.scss */
.our-values :first-child {
  text-align: center; }

/* line 56, /home/jakub/projects/frontend/sited-template/sass/_body.scss */
.our-values h2 {
  margin-top: 1em; }

/* line 59, /home/jakub/projects/frontend/sited-template/sass/_body.scss */
.our-values h4 {
  font-weight: 400; }

/* line 62, /home/jakub/projects/frontend/sited-template/sass/_body.scss */
.our-values p {
  color: #818181; }

/* line 67, /home/jakub/projects/frontend/sited-template/sass/_body.scss */
.services {
  text-align: center; }
  /* line 69, /home/jakub/projects/frontend/sited-template/sass/_body.scss */
  .services img {
    margin-bottom: 15px; }
  /* line 72, /home/jakub/projects/frontend/sited-template/sass/_body.scss */
  .services p {
    color: #818181; }
  /* line 75, /home/jakub/projects/frontend/sited-template/sass/_body.scss */
  .services h4 {
    font-weight: 300; }

/* line 80, /home/jakub/projects/frontend/sited-template/sass/_body.scss */
.portfolio {
  text-align: center; }
  /* line 82, /home/jakub/projects/frontend/sited-template/sass/_body.scss */
  .portfolio div {
    color: #818181; }
  /* line 85, /home/jakub/projects/frontend/sited-template/sass/_body.scss */
  .portfolio img {
    margin-bottom: 10px; }

/* line 90, /home/jakub/projects/frontend/sited-template/sass/_body.scss */
.referencies {
  text-align: center; }
  /* line 93, /home/jakub/projects/frontend/sited-template/sass/_body.scss */
  .referencies .carousel .carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,<svg xmlns='http://www.w3.org/2000/svg' fill='%23f4511e' viewBox='0 0 8 8'><path d='M4 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/></svg>"); }
  /* line 96, /home/jakub/projects/frontend/sited-template/sass/_body.scss */
  .referencies .carousel .carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,<svg xmlns='http://www.w3.org/2000/svg' fill='%23f4511e' viewBox='0 0 8 8'><path d='M1.5 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/></svg>"); }
  /* line 99, /home/jakub/projects/frontend/sited-template/sass/_body.scss */
  .referencies .carousel .carousel-caption {
    color: #292b2c; }
  /* line 102, /home/jakub/projects/frontend/sited-template/sass/_body.scss */
  .referencies .carousel .carousel-indicators li {
    background-color: #f4511e;
    opacity: 0.6; }
  /* line 106, /home/jakub/projects/frontend/sited-template/sass/_body.scss */
  .referencies .carousel .carousel-indicators .active {
    background-color: #f4511e;
    opacity: 1; }

/* line 113, /home/jakub/projects/frontend/sited-template/sass/_body.scss */
.pricing {
  text-align: center; }
  /* line 115, /home/jakub/projects/frontend/sited-template/sass/_body.scss */
  .pricing .col-md-3 {
    color: #818181;
    border: 1px solid #f4511e;
    padding: 0;
    margin: 1rem auto; }
    /* line 120, /home/jakub/projects/frontend/sited-template/sass/_body.scss */
    .pricing .col-md-3 div:nth-child(2n) {
      border-bottom: 1px solid #ddd;
      padding: 1rem 0; }
    /* line 124, /home/jakub/projects/frontend/sited-template/sass/_body.scss */
    .pricing .col-md-3 div:last-child {
      padding: 1rem 0; }
      /* line 126, /home/jakub/projects/frontend/sited-template/sass/_body.scss */
      .pricing .col-md-3 div:last-child button {
        background-color: #f4511e;
        color: #fff;
        margin-top: 1rem; }
  /* line 133, /home/jakub/projects/frontend/sited-template/sass/_body.scss */
  .pricing .header {
    background-color: #f4511e;
    width: 100%;
    padding: 1rem 0;
    font-size: 2rem;
    color: #fff; }

/* line 144, /home/jakub/projects/frontend/sited-template/sass/_body.scss */
.contact h2 {
  text-align: center; }

/* line 147, /home/jakub/projects/frontend/sited-template/sass/_body.scss */
.contact p {
  color: #818181;
  font-weight: 500; }

@media (min-width: 768px) {
  /* line 156, /home/jakub/projects/frontend/sited-template/sass/_body.scss */
  .jumbotron .input-group {
    margin: auto 15%;
    width: 70%; }
  /* line 161, /home/jakub/projects/frontend/sited-template/sass/_body.scss */
  .about-company button {
    margin-bottom: 0;
    width: auto; } }

/*# sourceMappingURL=style.css.map */